<div class="row">
  <div class="large-12 medium-12 small-12 columns">
    <h2><%= @model.otype + " #" + @model.external_id.to_s %></h2>

    <div><%= link_to "Edit", edit_model_path(@model) %></div>

    <div id="table-wrapper">
      <div id="table-scroll">
        <table class="table" id="models">
          <% @model.data.keys.each do |k| %>
            <tr><td><%= k %></td><td><%= @model.send(k.to_sym) %></td></tr>
          <% end %>
        </table>
      </div>
    </div>

    <% if @model.parents_present? %>
      <% @model.parent_scopes.each do |s| %>
        <% current_model_scope = @model.send(s) %>
        <% current_model_scope.each do |m| %>
          <h3>Belongs to <%= m.otype.pluralize %></h3>
          <div id="table-wrapper">
            <div id="table-scroll">
              <table class="table" id="models">
                <thead>
                  <tr>
                    <th>id</th>
                    <% m.model_data_keys.each do |k| %>
                      <th><%= k %></th>
                    <% end %>
                    <th></th>
                  </tr>
                </thead>

                <tbody class="page">
                  <%= render "model", models: current_model_scope %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>


    <% if child_scopes = @model.child_scopes %>
      <% child_scopes.each do |s| %>
        <% current_child_scope = @model.send(s) %>
        <% current_child_model = current_child_scope.first %>
        <div id="table-wrapper">
          <div id="table-scroll">
            <table class="table" id="models">
              <h3>Has Many <%= current_child_model.otype.pluralize %></h3>
              <thead>
                <tr>
                  <th>id</th>
                  <% current_child_model.model_data_keys.each do |k| %>
                    <th><%= k %></th>
                  <% end %>
                  <th></th>
                </tr>
              </thead>
              <tbody class="page">
                <%= render "model", models: current_child_scope %>
              </tbody>
            </table>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>
</div>
